.imageIcon {
	height: 100px;
	width: 150px;

}

.resultTable{
		border: 1px solid;
		margin-bottom: 5px;
		margin-top: 5px;
		margin-left: 5px;
}
.row-body {
	display: table;
}

#pizzaRating{
	height: 60px;
	width: 120px;
}
.left-side {
	float: none;
	display: table-cell;
}

.center-side {
	float: none;
	display: table-cell;
}

.right-side {
	float: none;
	display: table-cell;
}

.noNumber {
	list-style-type: none;
}

.priceAllign {
	text-align: right;
}

.carouselPizza {
	height: 200px;
	width: 250px;
	vertical-align: center;
	text-align: center;
}

.imgCarousle {
	height: 200px;
	width: 250px;
}

.carousel-caption {
	max-width: 550px;
	padding: 0 20px;
	margin: 0 auto;
	margin-top: 0px;
	text-align: center;
}

.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars {
    background: url('star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('star_full.png') no-repeat;
}
.ratings_over {
    background: url('star_highlight.png') no-repeat;
}