@import url("navbar.css");

/*
 * This rule moves the content of the body down to make place for the navbar.
 */
body {
	padding-top: 51px;
	background-color: #D4E3E9;
}

/* .container { */
/* 	padding: 0; */
/* } */

.card {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
}