.imgCart {
	width: 100p;
	height: 100p;
}

.inputNumber {
	width: 30p;
}

.cartContainer{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:15px;
	margin-right:15px;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
}

.itemDisplay{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}